GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_REFRESH_TOKEN=
GOOGLE_ADS_CUSTOMER_ID=
DEFAULT_LANGUAGE_ID=1014
DEFAULT_GEO_TARGET_ID=2076
GOOGLE_TRENDS_LANGUAGE=pt-BR
GOOGLE_TRENDS_TIMEZONE=180
GOOGLE_TRENDS_GEO=BR
GOOGLE_TRENDS_TIMEFRAME=today 12-m
GOOGLE_TRENDS_CONTEXT_FILTER=inteligência artificial
GOOGLE_TRENDS_MAX_RETRIES=3
GOOGLE_TRENDS_BACKOFF_SECONDS=5
GOOGLE_TRENDS_MIN_DELAY_SECONDS=5
GOOGLE_TRENDS_MAX_DELAY_SECONDS=20
DATA_SOURCE=GOOGLE_TRENDS
